.app {
  display: block;

  &__slide {
    background: gray;
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;

    &--light {
      background: lightgrey;
    }
  }
}
